.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location-form > * {
    font-size: 1.5em;
    margin: .2em;
}
.result{
    font-size: 2em;
    margin: .5em;
}
.error{
    font-size: 2em;
    margin: .5em;
}

div.table > table > tbody > tr > th,td {
    font-size: 1.2em;
    padding: .5em ;
}
div.table > table > tbody > tr:nth-child(1){
    background-color: gray;
    color: white;
}