<div class="container">
    <h1>Find Current Weather</h1>
    <form id='location-form' class='location-form'>
        <p><label for='location'>Enter Location</label></p>
        <p><input type="text" name="location" id="location"></p>
        <p><button type="submit">Find</button></p>
    </form>
    <div class="result">
        <% if @temprature %>
            <%= @temprature %> &deg;C
        <% end %>
    </div>
    <div class="error">
        <% if @error %>
            <%= @error %>
        <% end %>
    </div>
</div>